html {

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    background-color: azure;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 .5rem;
}


/*тут стили которые включаются, если устройство поддерживает hover*/
@media (hover: hover) and (pointer: fine) {
    .accordion__label {
        cursor: pointer;
    }
}

.wrapper {
    max-width: 122rem;
    margin: auto;
}

@media (max-width: 66.8rem) {
    .wrapper {
        padding: 0 5rem;
    }
}

@media (max-width: 33rem) {
    .wrapper {
        padding: 0 5rem;
    }
}

.header__h1 {
    text-align: center;
    font-weight: bold;

}

/***accordion***/

.accordion__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__header {
    display: flex;
    justify-content: space-between;
    color: yellowgreen;
    width: 40rem;
    padding: 1rem;
    border-top: .1rem solid black;
    font-weight: bold;
}

.item__text {
    margin-right: 5rem;
}

.accordion__input {
    /*Hide the toggle radio*/
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

.accordion__label {
    display: block;
    transition: background-color .5s ease-out;
}


.accordion__label:hover > .item__header {
    background-color: lemonchiffon;
}

.accordion__label:hover > .item__image {
    max-height: 50rem;
}

.accordion__input:checked ~ .accordion__label .item__image {
    max-height: 50rem;
}

.accordion__input:checked ~ .accordion__label .item__header {
    background-color: lemonchiffon;
}

/*.tab-icon {
    transform: translateY(-50%) rotate(45deg);
}*/


.item__image {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s;
    text-align: center;
}

